<div class="top-right-buttons">
   <!-- Greeting message -->
  <button class="btn" (click)="navigateToProfile()">My Profile</button>
  <button class="btn" (click)="navigateToTrack()">Track My Application</button> 
</div>

<div class="search-container">
  <input type="text" placeholder="Search for jobs..." [(ngModel)]="searchTerm" (input)="onSearchChange()" />
</div>

<div class="jobs-container">
  <h2 class="greeting">Hello, {{ jobSeekerName }}</h2>
  <h2> Look at the Recent Jobs</h2>
  
  <ul *ngIf="filteredJobs.length > 0">
    <li *ngFor="let job of filteredJobs" class="job-item">
      <div class="job-details">
        <h3>{{ job.role }}</h3>
        <p><strong>Company:</strong> {{ job.organisationName }}</p>
        <p><strong>Description:</strong> {{ job.description }}</p>
      </div>
      
      <div class="button-container">
        <button class="apply-btn" *ngIf="applyingJobId !== job.jobPostingId" (click)="applyForJob(job)">Apply Now</button>
        
        <div *ngIf="applyingJobId === job.jobPostingId" class="resume-submit-container">
          <input type="file" (change)="onResumeSelected($event)" />
          
          <button class="submit-btn" [disabled]="!isResumeUploaded" (click)="submitApplication(job)">
            Submit Application
          </button>
        </div>
      </div>
    </li>
  </ul>
  <p></p>

  <div *ngIf="filteredJobs.length === 0" class="no-jobs-found">
    <p>No jobs found</p>
  </div>
</div>
